$misty-rose: #efd2caff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
main {
  height: 100vh;
  width: 100vw;
  background: $misty-rose;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 5rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 20px;
      width: 70%;
      height: 5px;
      background: black;
    }
  }
  .slider {
    position: relative;
    width: 550px;
    max-width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: 0.2s;
    }
    .icons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      user-select: none;

      i {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: linear-gradient(to right, #1c1c1c9f, transparent);
        height: 100%;
        width: 10%;
        font-size: 1.7rem;
        font-weight: 900;
        color: white;
        cursor: pointer;
      }
      i:last-child {
        background: linear-gradient(to left, #1c1c1c9f, transparent);
      }
    }
  }
}

.tracking-in-contract {
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.kenburns-top {
  animation: kenburns-top 5s ease-out both;
}
@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.2) translateY(-15px);
    transform-origin: top;
  }
}
